<header ng-include="'pages/MenuPages/header.html'"></header>
	

    <!-- Responsive Menu -->
    <div class="responsive-menu">
        <a href="#" class="responsive-menu-close">
            <i class="ion-android-close"></i>
        </a>
        <nav class="responsive-nav"></nav>
        <!-- end .responsive-nav -->
    </div>
    <!-- end .responsive-menu -->

    <!-- Breadcrumb Bar -->
    <div class="section breadcrumb-bar solid-blue-bg">
        <div class="inner">
            <div class="container-fluid">
                <p class="breadcrumb-menu">
                    <a href="index-2.html">
                        <i class="ion-ios-home"></i>
                    </a>
                    <i class="ion-ios-arrow-right arrow-right"></i>
                    <a href="#0">Bull listing - list view</a>
                </p>
                <!-- end .breabdcrumb-menu -->
                <h2 class="breadcrumb-title">Showing all Bulls</h2>
            </div>
            <!-- end .container-fluid -->
        </div>
        <!-- end .inner -->
    </div>
    <!-- end .section -->
    <div class="section jobs-listing-section">
        <div class="container-fluid">

           <div style="margin-left: 25px">
             <div class="row">
                    <div class="button-group-merged b flex no-column">
                        <input type="checkbox" value="HARMONY"  name="product" class="product-list" ng-model="answer1" ng-true-value="1" ng-false-value="0" ng-change="checkStatus2('HARMONY',answer1);" />Harmony&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" value="DELTA" name="product" class="product-list" name="Sales"  ng-true-value="1" ng-false-value="0" ng-model="answer2" ng-change="checkStatus2('DELTA',answer2);" > DELTA&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" value="FLAGSHIP" class="product-list" name="product" ng-model="answer3"  ng-true-value="1" ng-false-value="0" ng-change="checkStatus2('FLAGSHIP',answer3);"> FLAGSHIP&nbsp;&nbsp;&nbsp;
   
                        <a style="color:white;cursor:pointer;padding-left: 5px; padding-right: 5px; border-radius: 20px;" ng-click="minimizeTable()" >Advanced Search</a>
    
                        </div>
             </div>
             <div ng-show="advSearch">
                <div class="row" style="margin:0 5px">
                        <div class="hh">
                                <h2 style="color:#1650e3;">Production</h2>
                        </div>
                        <table class="filTable">
                                

                                <tr>
                                    <td><label class="filter-col search1 Label" style="margin-right:0;" for="pref-perpage"  ng-show="labelHide">GTPIPA</label><label class="filter-col" style="margin-right:0;" for="pref-perpage" >GTPI</label></td>
                                    <td><select id="pref-perpage" ng-model="search1" class="form-control search1 Operator"  ng-options="x for x in operators" ng-change="keyup(search1,'search1',search1Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search1 Val" id="pref-search" ng-model="search1Val" ng-keyup="keyup(search1,'search1',search1Val)">                                
                                    </td>
                                    
                                     
        
                                    <td><label class="filter-col search5 Label" style="margin-right:0;" for="pref-perpage" ng-show="labelHide">FPA</label>
                                        <label>%F</label></td>
                                    <td><select id="pref-perpage" ng-model="search5" class="form-control search5 Operator"  ng-options="x for x in operators" ng-change="keyup(search5,'search5',search5Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="search5 Val" id="pref-search" ng-model="search5Val" ng-keyup="keyup(search5,'search5',search5Val)">                               
                                    </td>

                                     
                                            
                      
                                    <td><label class="filter-col search2 Label" style="margin-right:0;" for="pref-perpage" ng-show="labelHide">NMPA</label>
                                        <label>NM</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search2" class="form-control search2 Operator"  ng-options="x for x in operators" ng-change="keyup(search2,'search2',search2Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search2 Val" id="pref-search" ng-model="search2Val" ng-keyup="keyup(search2,'search2',search2Val)">                              
                                    </td>
                      
                                    
                                    <td><label class="filter-col search3 Label" style="margin-right:0;" for="pref-perpage" ng-show="labelHide">MILKPA</label>
                                        <label>MILK</label>
                                        </td>
                                    <td><select id="pref-perpage" ng-model="search3" class="form-control search3 Operator"  ng-options="x for x in operators" ng-change="keyup(search3,'search3',search3Val)">
                                        </select></td>
                                    <td class="td-r"> <input type="number" class="form-control input-sm search3 Val" id="pref-search" ng-model="search3Val" ng-keyup="keyup(search3,'search3',search3Val)">                                
                                    </td>
                                   
                                </tr>
                                <tr>

            
                                    <td> <label class="filter-col search4 Label" style="margin-right:0;" for="pref-perpage" ng-show="labelHide">FATPA</label>
                                        <label class="filter-col " style="margin-right:0;" for="pref-perpage">FAT</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search4" class="form-control search4 Operator"  ng-options="x for x in operators" ng-change="keyup(search4,'search4',search4Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search4 Val" id="pref-search" ng-model="search4Val" ng-keyup="keyup(search4,'search4',search4Val)">                              
                                    </td>
                   
                                    <td><label class="filter-col search6 Label" style="margin-right:0;" for="pref-perpage" ng-show="labelHide">PROTPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">PROT</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search6" class="form-control search6 Operator"  ng-options="x for x in operators" ng-change="keyup(search6,'search6',search6Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search6 Val" id="pref-search" ng-model="search6Val" ng-keyup="keyup(search6,'search6',search6Val)">                                
                                    </td>

                
                                    <td> <label class="filter-col search7 Label" style="margin-right:0;" for="pref-perpage" ng-show="labelHide">PPA</label>
                                        <label class="filter-col " style="margin-right:0;" for="pref-perpage"> %P</label>
                                   </td>
                                    <td><select id="pref-perpage" ng-model="search7" class="form-control search7 Operator"  ng-options="x for x in operators" ng-change="keyup(search7,'search7',search7Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search7 Val" id="pref-search" ng-model="search7Val" ng-keyup="keyup(search7,'search7',search7Val)">                              
                                    </td>
                        
                                    <td></td>
                                    <td></td>
                                    <td class="td-r"></td>
                                </tr>
                            
                                
                            </table>
        
                            <div class="hh">
                                    <h2 style="color:#1650e3">Health & Fertility</h2>
                            </div>
                            
                        <table class="filTable">
                               
                                <tr>

                                    <td><label class="filter-col search8 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">SCSPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">SCS</label>
                                        </td>
                                    <td><select id="pref-perpage" ng-model="search8" class="form-control search8 Operator"  ng-options="x for x in operators" ng-change="keyup(search8,'search8',search8Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search8 Val" id="pref-search" ng-model="search8Val" ng-keyup="keyup(search8,'search8',search8Val)">                               
                                    </td>
                      
                                    <td><label class="filter-col search9 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">PLPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">PL</label>
                                        </td>
                                    <td><select id="pref-perpage" ng-model="search9" class="form-control search9 Operator"  ng-options="x for x in operators" ng-change="keyup(search9,'search9',search9Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search9 Val" id="pref-search" ng-model="search9Val" ng-keyup="keyup(search9,'search9',search9Val)">                                
                                    </td>
                      
  
                                    <td> <label class="filter-col search10 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">DPRPA</label>
                                         <label class="filter-col" style="margin-right:0;" for="pref-perpage">DPR</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search10" class="form-control search10 Operator"  ng-options="x for x in operators" ng-change="keyup(search10,'search10',search10Val)">
                                        </select> </td>
                                    <td class="td-r"> <input type="number" class="form-control input-sm search10 Val" id="pref-search" ng-model="search10Val" ng-keyup="keyup(search10,'search10',search10Val)">                              
                                    </td>

                      
                                    <td><label class="filter-col search11 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">FEEDPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">FEED</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search11" class="form-control search11 Operator"  ng-options="x for x in operators" ng-change="keyup(search11,'search11',search11Val)">
                                        </select> </td>
                                    <td class="td-r"> <input type="number" class="form-control input-sm search11 Val" id="pref-search" ng-model="search11Val" ng-keyup="keyup(search11,'search11',search11Val)">                               
                                    </td>
                                   
                                </tr>
                                <tr>
                                    <td> <label class="filter-col search12 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">FERTPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">FERT</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search12" class="form-control search12 Operator"  ng-options="x for x in operators" ng-change="keyup(search12,'search12',search12Val)">
                                        </select></td>
                                    <td class="td-r"> <input type="number" class="form-control input-sm search12 Val" id="pref-search" ng-model="search12Val" ng-keyup="keyup(search12,'search12',search12Val)">                              
                                    </td>
                        
                                    <td style="visibility: hidden;"><label >PTAT</label></td>
                                    <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                      </select></td>
                                    <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                        
                                    <td style="visibility: hidden;"><label >PTAT</label></td>
                                    <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                      </select></td>
                                    <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                        
                                    <td style="visibility: hidden;"><label >PTAT</label></td>
                                    <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                      </select></td>
                                    <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                                </tr>
                             
                                <!-- <tr>
                                        <td><label >PTAT</label></td>
                                      <td><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" ng-change="keyup(search15,'search15',search15Val)">
                                        </select></td>
                                      <td class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                      </td>
                          
                                      <td><label >PTAT</label></td>
                                      <td><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" ng-change="keyup(search15,'search15',search15Val)">
                                        </select></td>
                                      <td class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                      </td>
                          
                                      <td><label >PTAT</label></td>
                                      <td><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" ng-change="keyup(search15,'search15',search15Val)">
                                        </select></td>
                                      <td class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                      </td>
                          
                                      <td><label >PTAT</label></td>
                                      <td><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" ng-change="keyup(search15,'search15',search15Val)">
                                        </select></td>
                                      <td class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                      </td>
                                  </tr> -->
        
                                
                            </table>

                            <div class="hh">
                                    <h2 style="color:#1650e3">Calving Traits</h2>
                            </div>
                            
                        <table class="filTable">
                               
                                <tr>
                                        
                                   
                                    <td><label class="filter-col search13 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">SCEPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">SCE</label>
                                    </td>
                                    <td><select id="pref-perpage" ng-model="search13" class="form-control search13 Operator"  ng-options="x for x in operators" ng-change="keyup(search13,'search13',search13Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search13 Val" id="pref-search" ng-model="search13Val" ng-keyup="keyup(search13,'search13',search13Val)">
                                    </td>
                      
                          
                                    <td><label class="filter-col search14 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">DCEPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">DCE</label>
                                    </td>
                                    <td> <select id="pref-perpage" ng-model="search14" class="form-control search14 Operator"  ng-options="x for x in operators" ng-change="keyup(search14,'search14',search14Val)">
                                        </select>
                                    </td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search14 Val" id="pref-search" ng-model="search14Val" ng-keyup="keyup(search14,'search14',search14Val)">
                                    </td>
                      
  
                                    <td style="visibility: hidden;"><label >PTAT</label></td>
                                    <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                      </select></td>
                                    <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                        
                                    <td style="visibility: hidden;"><label >PTAT</label></td>
                                    <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                      </select></td>
                                    <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                        
                                                                      
                                </tr>
                                <tr>
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                        
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                        
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                        
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                                </tr>
     
                            </table>

                            <div class="hh">
                                    <h2 style="color:#1650e3">Conformation</h2>
                            </div>
                            
                          <table class="filTable">
                               
                                <tr>
                                        
                                    <td><label class="filter-col search15 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">PTATPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">PTAT</label>
                                        </td>
                                    <td><select id="pref-perpage" ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" ng-change="keyup(search15,'search15',search15Val)">
                                        </select></td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                      
                   
                                    <td><label class="filter-col search16 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">FLCPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">FLC</label>
                                        </td>
                                    <td> <select id="pref-perpage" ng-model="search16" class="form-control search16 Operator"  ng-options="x for x in operators" ng-change="keyup(search16,'search16',search16Val)">
                                        </select>
                                    </td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search16 Val" id="pref-search" ng-model="search16Val" ng-keyup="keyup(search16,'search16',search16Val)">                               
                                    </td>
     
                                    
                                    <td ><label class="filter-col search17 Label" style="margin-right:0;" for="pref-perpage" ng-show="$scope.labelHide">UDCPA</label>
                                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">UDC</label>
                                        </td>
                                    <td ><select id="pref-perpage" ng-model="search17" class="form-control search17 Operator"  ng-options="x for x in operators" ng-change="keyup(search17,'search17',search17Val)">
                                        </select> </td>
                                    <td class="td-r"><input type="number" class="form-control input-sm search17 Val" id="pref-search" ng-model="search17Val" ng-keyup="keyup(search17,'search17',search17Val)">                               
                                    </td>
                        
                                    <td style="visibility: hidden;"><label >PTAT</label></td>
                                    <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                      </select></td>
                                    <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                    </td>
                        
                                                                      
                                </tr>
                                <tr>
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                        
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                        
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                        
                                        <td style="visibility: hidden;"><label >PTAT</label></td>
                                        <td style="visibility: hidden;"><select  ng-model="search15" class="form-control search15 Operator"  ng-options="x for x in operators" >
                                          </select></td>
                                        <td style="visibility: hidden;" class="td-r"><input type="number" class="form-control input-sm search15 Val" id="pref-search" ng-model="search15Val" ng-keyup="keyup(search15,'search15',search15Val)">                                
                                        </td>
                                </tr>
     
                            </table>
        
                            <div ><button style="padding: 5px 23px;font-size:10px;font-weight: bold" class="btn btn-primary clearTraits" type="button" ng-click="advanceSearch2()">Search</button></div>
                </div>
            </div>
                       
               
                
           </div>
            <div class="jobs-listing-wrapper flex no-wrap">



                <div class="center-content-wrapper">

                
            
                    <div ng-show="totaltable">
                    <table  class="coustomTable" ng-if="filterdTable">
                            <thead>
                                <tr >
                                             <td  class="colHead">GTPI</td>
                                                <td  class="colHead">NM$</td>
                                                <td  class="colHead">MILK</td>
                                                <td  class="colHead">FAT</td>
                                                <td  class="colHead">%F</td>
                                                <td  class="colHead">PROT</td>
                                                <td  class="colHead">%P</td>
                                                <td  class="colHead">#1 EMBRYOS</td>
                                                <td  class="colHead">#2 EMBRYOS</td>
                                                <!-- <td  class="colHead">PROT</td> -->
                                                <td  class="colHead">BIRTH</td>
                                                <td  class="colHead">Breeding Code</td>
                                                <td  class="colHead">DAM</td>
                                                <td  class="colHead">DCE</td>
                                                <td  class="colHead">DPR</td>                                         
                                                <td  class="colHead">FEED</td>
                                                <td  class="colHead">FEMALE NAME</td>
                                                <td  class="colHead">FERT</td>
                                                <td  class="colHead">FLC</td>
                                                <td  class="colHead">IVF</td>
                                                <td  class="colHead">MGS</td>
                                                <td  class="colHead">NOTES</td>
                                                <td  class="colHead">PL</td>                                        
                                                <td  class="colHead">PTAT</td>
                                                <td  class="colHead">REG #</td>
                                                <td  class="colHead">SCE</td>
                                                <td  class="colHead">SCS</td>
                                                <td  class="colHead">SIRE</td>
                                                <td  class="colHead">SIRES</td>
                                                <td  class="colHead">UDC</td>
                                                <!-- <td  class="colHead">_id</td> -->
                                                
                                </tr>
                                <!-- end .table-cells -->
                            </thead>
                            <!-- end .table-header -->
                            <tbody>
                                    <tr  ng-repeat="x in asData.slice(((currentPage2-1)*itemsPerPage2), ((currentPage2)*itemsPerPage2))">
                                    <td  class="dataCell">{{x.GTPIPA}}</td>
                                    <td  class="dataCell">{{x.NMPA}}</td>
                                    <td  class="dataCell">{{x.MILKPA}}</td>
                                    <td  class="dataCell">{{x.FATPA}}</td>
                                    <td  class="dataCell">{{x.FPA}}</td>
                                    <td  class="dataCell">{{x.PROTPA}}</td>
                                    <td  class="dataCell">{{x.PPA}}</td>
                                    <td  class="dataCell">{{x.EMBRYOS1}}</td>
                                    <td  class="dataCell">{{x.EMBRYOS2}}</td>
                                    <td  class="dataCell">{{x.BIRTH}}</td>
                                    <td  class="dataCell">{{x.BreedingCode}}</td>
                                    <td  class="dataCell">{{x.DAM}}</td>
                                    <td  class="dataCell">{{x.DCEPA}}</td>
                                    <td  class="dataCell">{{x.DPRPA}}</td>                                      
                                    <td  class="dataCell">{{x.FEEDPA}}</td>
                                    <td  class="dataCell">{{x.FEMALENAME}}</td>
                                    <td  class="dataCell">{{x.FERTPA}}</td>
                                    <td  class="dataCell">{{x.FLCPA}}</td>
                                    <td  class="dataCell">{{x.IFV}}</td>
                                    <td  class="dataCell">{{x.MGS}}</td>
                                    <td  class="dataCell">{{x.NOTES}}</td>
                                    <td  class="dataCell">{{x.PLPA}}</td>                                         
                                    <td  class="dataCell">{{x.PTATPA}}</td>
                                    <td  class="dataCell">{{x.REG}}</td>
                                    <td  class="dataCell">{{x.SCEPA}}</td>
                                    <td  class="dataCell">{{x.SCSPA}}</td>
                                    <td  class="dataCell">{{x.SIRE}}</td>
                                    <td  class="dataCell">{{x.SIRES}}</td>
                                    <td  class="dataCell">{{x.UDCPA}}</td>
                                    <!-- <td  class="dataCell">{{x.id}</td> -->
                            </tr>
                                            
                            </tbody>
                           
                           
                          </table>
                         
                          <div ng-show="filterdTable">
                                <pagination total-items="totalItems2" ng-model="currentPage2" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage2" ></pagination>
                                <!-- <pre ng-if="filterdTable">Page: {{currentPage2}} / {{numPages}}</pre> -->
                           </div>

                          <div>
                                
                          </div> 
                      
                      <div>

                            <!-- <input type="checkbox" value="HARMONY"  name="product" class="product-list" ng-model="answer1" ng-true-value="1" ng-false-value="0" ng-change="checkStatus2('HARMONY',answer1);" />Harmony&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" value="DELTA" name="product" class="product-list" name="Sales"  ng-true-value="1" ng-false-value="0" ng-model="answer2" ng-change="checkStatus2('DELTA',answer2);" > DELTA&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" value="FLAGSHIP" class="product-list" name="product" ng-model="answer3"  ng-true-value="1" ng-false-value="0" ng-change="checkStatus2('FLAGSHIP',answer3);"> FLAGSHIP&nbsp;&nbsp;&nbsp; -->

                        
                            <table  class="coustomTable" ng-if="dataTable" style="width:100%"> 
                                    <thead>
                                        <tr>
                                            <td  class="colHead">GTPI</td>
                                            <td  class="colHead">NM$</td>
                                            <td  class="colHead">MILK</td>
                                            <td  class="colHead">FAT</td>
                                            <td  class="colHead">%F</td>
                                            <td  class="colHead">PROT</td>
                                            <td  class="colHead">%P</td>
                                            <td  class="colHead">#1 EMBRYOS</td>
                                            <td  class="colHead">#2 EMBRYOS</td>
                                            <td  class="colHead">BIRTH</td>
                                            <td  class="colHead">Breeding Code</td>
                                            <td  class="colHead">DAM</td>
                                            <td  class="colHead">DCE</td>
                                            <td  class="colHead">DPR</td>                                         
                                            <td  class="colHead">FEED</td>
                                            <td  class="colHead">FEMALE NAME</td>
                                            <td  class="colHead">FERT</td>
                                            <td  class="colHead">FLC</td>
                                            <td  class="colHead">IVF</td>
                                            <td  class="colHead">MGS</td>
                                            <td  class="colHead">NOTES</td>
                                            <td  class="colHead">PL</td>                                        
                                            <td  class="colHead">PTAT</td>
                                            <td  class="colHead">REG #</td>
                                            <td  class="colHead">SCE</td>
                                            <td  class="colHead">SCS</td>
                                            <td  class="colHead">SIRE</td>
                                            <td  class="colHead">SIRES</td>
                                            <td  class="colHead">UDC</td>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="y in allData.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" >
                                            <td  class="dataCell">{{y.GTPIPA}}</td>
                                            <td  class="dataCell">{{y.NMPA}}</td>
                                            <td  class="dataCell">{{y.MILKPA}}</td>
                                            <td  class="dataCell">{{y.FATPA}}</td>
                                            <td  class="dataCell">{{y.FPA}}</td>
                                            <td  class="dataCell">{{y.PROTPA}}</td>
                                            <td  class="dataCell">{{y.PPA}}</td>
                                            <td  class="dataCell">{{y.EMBRYOS1}}</td>
                                            <td  class="dataCell">{{y.EMBRYOS2}}</td>
                                            <td  class="dataCell">{{y.BIRTH}}</td>
                                            <td  class="dataCell">{{y.BreedingCode}}</td>
                                            <td  class="dataCell">{{y.DAM}}</td>
                                            <td  class="dataCell">{{y.DCEPA}}</td>
                                            <td  class="dataCell">{{y.DPRPA}}</td>                                      
                                            <td  class="dataCell">{{y.FEEDPA}}</td>
                                            <td  class="dataCell">{{y.FEMALENAME}}</td>
                                            <td  class="dataCell">{{y.FERTPA}}</td>
                                            <td  class="dataCell">{{y.FLCPA}}</td>
                                            <td  class="dataCell">{{y.IFV}}</td>
                                            <td  class="dataCell">{{y.MGS}}</td>
                                            <td  class="dataCell">{{y.NOTES}}</td>
                                            <td  class="dataCell">{{y.PLPA}}</td>                                         
                                            <td  class="dataCell">{{y.PTATPA}}</td>
                                            <td  class="dataCell">{{y.REG}}</td>
                                            <td  class="dataCell">{{y.SCEPA}}</td>
                                            <td  class="dataCell">{{y.SCSPA}}</td>
                                            <td  class="dataCell">{{y.SIRE}}</td>
                                            <td  class="dataCell">{{y.SIRES}}</td>
                                            <td  class="dataCell">{{y.UDCPA}}</td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                                <div ng-show="dataTable">
                                        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage" ></pagination>
                                        <!-- <pre ng-if="dataTable">Page: {{currentPage}} / {{numPages}}</pre> -->
                                </div>
                                <div ng-show="noData" style="color:red">No Records Found</div>

                                <table   class="coustomTable" ng-if="filterdCheckTabel" style="width:100%"> 
                                    <thead>
                                        
                                        <tr>
                                            <td  class="colHead">GTPI</td>
                                            <td  class="colHead">NM$</td>
                                            <td  class="colHead">MILK</td>
                                            <td  class="colHead">FAT</td>
                                            <td  class="colHead">%F</td>
                                            <!-- <td  class="colHead">PROT</td> -->
                                            <td  class="colHead">%P</td>
                                            <td  class="colHead">#1 EMBRYOS</td>
                                            <td  class="colHead">#2 EMBRYOS</td>
                                            <td  class="colHead">PROT</td>
                                            <td  class="colHead">BIRTH</td>
                                            <td  class="colHead">Breeding Code</td>
                                            <td  class="colHead">DAM</td>
                                            <td  class="colHead">DCE</td>
                                            <td  class="colHead">DPR</td>                                         
                                            <td  class="colHead">FEED</td>
                                            <td  class="colHead">FEMALE NAME</td>
                                            <td  class="colHead">FERT</td>
                                            <td  class="colHead">FLC</td>
                                            <td  class="colHead">IVF</td>
                                            <td  class="colHead">MGS</td>
                                            <td  class="colHead">NOTES</td>
                                            <td  class="colHead">PL</td>                                        
                                            <td  class="colHead">PTAT</td>
                                            <td  class="colHead">REG #</td>
                                            <td  class="colHead">SCE</td>
                                            <td  class="colHead">SCS</td>
                                            <td  class="colHead">SIRE</td>
                                            <td  class="colHead">SIRES</td>
                                            <td  class="colHead">UDC</td>
                                            <!-- <td  class="colHead">_id</td> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="y in asData2.slice(((currentPage1-1)*itemsPerPage1), ((currentPage1)*itemsPerPage1)) " >
                                            <td  class="dataCell">{{y.GTPIPA}}</td>
                                            <td  class="dataCell">{{y.NMPA}}</td>
                                            <td  class="dataCell">{{y.MILKPA}}</td>
                                            <td  class="dataCell">{{y.FATPA}}</td>
                                            <td  class="dataCell">{{y.FPA}}</td>
                                            <td  class="dataCell">{{y.PROTPA}}</td>
                                            <td  class="dataCell">{{y.PPA}}</td>
                                            <td  class="dataCell">{{y.EMBRYOS1}}</td>
                                            <td  class="dataCell">{{y.EMBRYOS2}}</td>
                                            <td  class="dataCell">{{y.BIRTH}}</td>
                                            <td  class="dataCell">{{y.BreedingCode}}</td>
                                            <td  class="dataCell">{{y.DAM}}</td>
                                            <td  class="dataCell">{{y.DCEPA}}</td>
                                            <td  class="dataCell">{{y.DPRPA}}</td>                                      
                                            <td  class="dataCell">{{y.FEEDPA}}</td>
                                            <td  class="dataCell">{{y.FEMALENAME}}</td>
                                            <td  class="dataCell">{{y.FERTPA}}</td>
                                            <td  class="dataCell">{{y.FLCPA}}</td>
                                            <td  class="dataCell">{{y.IFV}}</td>
                                            <td  class="dataCell">{{y.MGS}}</td>
                                            <td  class="dataCell">{{y.NOTES}}</td>
                                            <td  class="dataCell">{{y.PLPA}}</td>                                         
                                            <td  class="dataCell">{{y.PTATPA}}</td>
                                            <td  class="dataCell">{{y.REG}}</td>
                                            <td  class="dataCell">{{y.SCEPA}}</td>
                                            <td  class="dataCell">{{y.SCSPA}}</td>
                                            <td  class="dataCell">{{y.SIRE}}</td>
                                            <td  class="dataCell">{{y.SIRES}}</td>
                                            <td  class="dataCell">{{y.UDCPA}}</td>
                                            <!-- <td  class="dataCell">{{y.id}</td> -->
                                        </tr>
                                        
                                    </tbody>
                                </table> 
                                <div ng-show="filterdCheckTabel">
                                        <pagination total-items="totalItems1" ng-model="currentPage1" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage1" ></pagination>
                                        <!-- <pre ng-if="filterdCheckTabel">Page: {{currentPage1}} / {{numPages}}</pre> -->
                                </div> 
                      </div>

                    <!-- <w3-test-directive></w3-test-directive> -->

                </div>
                <div ng-show="harmonyTable">
                        <div class="table-footer flex space-between items-center">
                                <h6>Showing
                                    <span>1-5</span>of 23 Bulls</h6>
                                <div class="jobpress-custom-pager list-unstyled flex space-between no-column items-center">
                                    <a href="#0" class="button">
                                            <div class="button-group-merged flex no-column" ng-click="exportToExcel('#harmonyTable')">
                                                    <span>
                                                      <i class="fa fa-file-excel-o"></i>
                                                    </span>
                                                    Export to Excel
                                                </div>
                                    </a>
                                </div>
                                <!-- end .jobpress-custom-pager -->
                            </div>

                    <table class="jobs-table" id="harmonyTable">
                        <th class="table-header">
                            <tr class="table-cells flex">
                                <td class="job-title-cell-1" style="margin-bottom: 30px;">
                                    <h6 style="font-size: 28px">You Searched returned 195 Bulls. </h6>
                                </td>
                            </tr>
                            <tr class="table-cells flex">
                                <th class="job-title-cell">
                                    <h6>NAAB</h6>
                                </th>
                                <th class="job-type-cell">
                                    <h6>NAME</h6>
                                </th>
                                <th class="location-cell">
                                    <h6>NM$</h6>
                                </th>
                                <th class="expired-date-cell">
                                    <h6>TPI</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>MILK</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>PRO</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>FAT</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>PRO %</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>PL</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>SCS</h6>
                                </th>
                                <th class="salary-cell">
                                    <h6>DPR</h6>
                                </th>
                               
                              
                            </tr>
                            <!-- end .table-cells -->
                        </th>
                        <!-- end .table-header -->data
                        <tr class="table-row table-cells flex no-wrap" ng-controller="aboutController" ng-repeat="y in harmonydata">
                                <td>{{y.GTPIPA}}</td>
                                <td>{{y.NMPA}}</td>
                                <td>{{y.MILKPA}}</td>
                                <td>{{y.FATPA}}</td>
                                <td>{{y.FPA}}</td>
                                <td>{{y.PROTPA}}</td>
                                <td>{{y.PPA}}</td>
                                <td>{{y.EMBRYOS1}}</td>
                                <td>{{y.EMBRYOS2}}</td>
                                <td>{{y.BIRTH}}</td>
                                <td>{{y.BreedingCode}}</td>
                                <td>{{y.DAM}}</td>
                                <td>{{y.DCEPA}}</td>
                                <td>{{y.DPRPA}}</td>                                      
                                <td>{{y.FEEDPA}}</td>
                                <td>{{y.FEMALENAME}}</td>
                                <td>{{y.FERTPA}}</td>
                                <td>{{y.FLCPA}}</td>
                                <td>{{y.IFV}}</td>
                                <td>{{y.MGS}}</td>
                                <td>{{y.NOTES}}</td>
                                <td>{{y.PLPA}}</td>                                         
                                <td>{{y.PTATPA}}</td>
                                <td>{{y.REG}}</td>
                                <td>{{y.SCEPA}}</td>
                                <td>{{y.SCSPA}}</td>
                                <td>{{y.SIRE}}</td>
                                <td>{{y.SIRES}}</td>
                                <td>{{y.UDCPA}}</td>
                                <td>{{y.id}</td>
                        </tr>
                        <!-- end .job-title-cell -->





                        <!-- </tr> end .table-row -->


                </div>
                <!-- end .jobs-table -->




                </table>
            </div>
            <div ng-show="flagtable">
                <div class=" flex space-between items-center">
                    <div class="left flex space-between no-column items-center">
                   
                          
                          <!-- end .button-group-merged -->
                      </div>
                    <div class="right flex space-between no-column items-center">
                   
                            <div class="button-group-merged flex no-column" ng-click="exportToExcel('#deltable')">
                                  <span>
                                    <i class="fa fa-file-excel-o"></i>
                                  </span>
                                  <div  class="button" style="left: -27px; border-radius: 0;"> Export to Excel</div>
                                 
                                </div>
                     
                          <!-- end .button-group-merged -->
                      </div>
            </div>          

                <table class="jobs-table" id="deltable">
                    <th class="table-header">
                        <tr class="table-cells flex">
                            <td class="job-title-cell-1" style="margin-bottom: 30px;">
                                <h6 style="font-size: 28px">You Searched returned 195 Bulls. </h6>
                            </td>
                        </tr>
                        <tr class="table-cells flex">
                            <th class="job-title-cell">
                                <h6>NAAB</h6>
                            </th>
                            <th class="job-type-cell">
                                <h6>NAME</h6>
                            </th>
                            <th class="location-cell">
                                <h6>NM$</h6>
                            </th>
                            <th class="expired-date-cell">
                                <h6>TPI</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>MILK</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>PRO</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>FAT</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>PRO %</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>PL</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>SCS</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>DPR</h6>
                            </th>
                           
                          
                        </tr>
                        <!-- end .table-cells -->
                    </th>
                    <!-- end .table-header -->
                    <tr class="table-row table-cells flex no-wrap" ng-controller="aboutController" ng-repeat="y in flagarr">
                            <td>{{y.GTPIPA}}</td>
                            <td>{{y.NMPA}}</td>
                            <td>{{y.MILKPA}}</td>
                            <td>{{y.FATPA}}</td>
                            <td>{{y.FPA}}</td>
                            <td>{{y.PROTPA}}</td>
                            <td>{{y.PPA}}</td>
                            <td>{{y.EMBRYOS1}}</td>
                            <td>{{y.EMBRYOS2}}</td>
                            <td>{{y.BIRTH}}</td>
                            <td>{{y.BreedingCode}}</td>
                            <td>{{y.DAM}}</td>
                            <td>{{y.DCEPA}}</td>
                            <td>{{y.DPRPA}}</td>                                      
                            <td>{{y.FEEDPA}}</td>
                            <td>{{y.FEMALENAME}}</td>
                            <td>{{y.FERTPA}}</td>
                            <td>{{y.FLCPA}}</td>
                            <td>{{y.IFV}}</td>
                            <td>{{y.MGS}}</td>
                            <td>{{y.NOTES}}</td>
                            <td>{{y.PLPA}}</td>                                         
                            <td>{{y.PTATPA}}</td>
                            <td>{{y.REG}}</td>
                            <td>{{y.SCEPA}}</td>
                            <td>{{y.SCSPA}}</td>
                            <td>{{y.SIRE}}</td>
                            <td>{{y.SIRES}}</td>
                            <td>{{y.UDCPA}}</td>
                            <td>{{y.id}</td>

                    </tr>
                    <!-- end .job-title-cell -->





                    <!-- </tr> end .table-row -->


                 
            </div>
            <!-- end .jobs-table -->




            </table>
        </div>
            <div ng-show="deltable">
                    <div class=" flex space-between items-center">
                            <div class="left flex space-between no-column items-center">
                           
                                  
                                  <!-- end .button-group-merged -->
                              </div>
                            <div class="right flex space-between no-column items-center">
                           
                                    <div class="button-group-merged flex no-column" ng-click="exportToExcel('#tableToExport')">
                                          <span>
                                            <i class="fa fa-file-excel-o"></i>
                                          </span>
                                          <div  class="button" style="left: -27px; border-radius: 0;"> Export to Excel</div>
                                         
                                        </div>
                             
                                  <!-- end .button-group-merged -->
                              </div>
                    </div>        
                   

                <table class="jobs-table" id="tableToExport">
                    <th class="table-header">
                        <tr class="table-cells flex">
                            <td class="job-title-cell-1" style="margin-bottom: 30px;">
                                <h6 style="font-size: 28px">You Searched returned 195 Bulls. </h6>
                            </td>
                        </tr>
                        <tr class="table-cells flex">
                            <th class="job-title-cell">
                                <h6>NAAB</h6>
                            </th>
                            <th class="job-type-cell">
                                <h6>NAME</h6>
                            </th>
                            <th class="location-cell">
                                <h6>NM$</h6>
                            </th>
                            <th class="expired-date-cell">
                                <h6>TPI</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>MILK</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>PRO</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>FAT</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>PRO %</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>PL</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>SCS</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>DPR</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>TYPE</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>UDC</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>FLC</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>SCE</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>BULL FERTILITY</h6>
                            </th>
                            <th class="salary-cell">
                                <h6>TRANSITION RIGHT</h6>
                            </th>
                        </tr>
                        <!-- end .table-cells -->
                    </th>
                    <!-- end .table-header -->
                    <tr class="table-row table-cells flex no-wrap" ng-controller="aboutController" ng-repeat="y in delArr">
                            <td>{{y.GTPIPA}}</td>
                            <td>{{y.NMPA}}</td>
                            <td>{{y.MILKPA}}</td>
                            <td>{{y.FATPA}}</td>
                            <td>{{y.FPA}}</td>
                            <td>{{y.PROTPA}}</td>
                            <td>{{y.PPA}}</td>
                            <td>{{y.EMBRYOS1}}</td>
                            <td>{{y.EMBRYOS2}}</td>
                            <td>{{y.BIRTH}}</td>
                            <td>{{y.BreedingCode}}</td>
                            <td>{{y.DAM}}</td>
                            <td>{{y.DCEPA}}</td>
                            <td>{{y.DPRPA}}</td>                                      
                            <td>{{y.FEEDPA}}</td>
                            <td>{{y.FEMALENAME}}</td>
                            <td>{{y.FERTPA}}</td>
                            <td>{{y.FLCPA}}</td>
                            <td>{{y.IFV}}</td>
                            <td>{{y.MGS}}</td>
                            <td>{{y.NOTES}}</td>
                            <td>{{y.PLPA}}</td>                                         
                            <td>{{y.PTATPA}}</td>
                            <td>{{y.REG}}</td>
                            <td>{{y.SCEPA}}</td>
                            <td>{{y.SCSPA}}</td>
                            <td>{{y.SIRE}}</td>
                            <td>{{y.SIRES}}</td>
                            <td>{{y.UDCPA}}</td>
                            <td>{{y.id}</td>

                    </tr>
                    <!-- end .job-title-cell -->





                    <!-- </tr> end .table-row -->


                    
            </div>
            <!-- end .jobs-table -->

          

            </table>
        </div>

            <!-- end .center-content -->



        </div>
        <!-- end .jobs-listing-wrapper -->
    </div>
    <!-- end .container-fluid -->
    </div>



    <!-- Footer -->
    <div class="section footer transparent" style="background-image: url('images/background03.jpg');">
        <div class="container">
            <div class="top flex space-between items-center">
                <img src="images/logo-3.png" alt="footer-logo" class="img-responsive">
                <ul class="list-unstyled footer-menu flex">
                    <li>
                        <a href="#0">Home</a>
                    </li>
                    <li>
                        <a href="#0">About</a>
                    </li>
                    <li>
                        <a href="#0">Browse Bulls</a>
                    </li>
                    <li>
                        <a href="#0">Contact</a>
                    </li>
                </ul>
                <!-- end .footer-menu -->
            </div>
            <!-- end .top -->
            <div class="footer-widgets flex no-column space-between">
                <div class="widget">
                    <h6>About</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#0">Company</a>
                        </li>
                        <li>
                            <a href="#0">Our Partners</a>
                        </li>
                        <li>
                            <a href="#0">Blog</a>
                        </li>
                        <li>
                            <a href="#0">FAQ</a>
                        </li>
                        <li>
                            <a href="#0">Pricing</a>
                        </li>
                        <li>
                            <a href="#0">Help Center</a>
                        </li>
                        <li>
                            <a href="#0">Team</a>
                        </li>
                        <li>
                            <a href="#0">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- end .widget -->
                <div class="widget">
                    <h6>For candidates</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#0">Browse Bulls</a>
                        </li>
                        <li>
                            <a href="#0">Browse categories</a>
                        </li>
                        <li>
                            <a href="#0">Submit Bull</a>
                        </li>
                        <li>
                            <a href="#0">My Bulls</a>
                        </li>
                    </ul>
                </div>
                <!-- end .widget -->
                <div class="widget">
                    <h6>For companies</h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#0">Browse Bulls</a>
                        </li>
                        <li>
                            <a href="#0">Add A Bull</a>
                        </li>
                    </ul>
                </div>
                <!-- end .widget -->
                <div class="widget">
                    <h6>Follow us</h6>
                    <ul class="list-unstyled social-icons flex no-column">
                        <li>
                            <a href="#0">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="ion-social-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                    <h6>Subscribe Us</h6>
                    <p>Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor vitae augue.</p>
                    <form class="form-inline subscribe-form flex no-column no-wrap items-center">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your email">
                        </div>
                        <!-- end .form-group -->
                        <button type="submit" class="button">
                            <i class="ion-ios-arrow-thin-right"></i>
                        </button>
                    </form>
                </div>
                <!-- end .widget -->
            </div>
            <!-- end .footer-widgets -->
            <div class="bottom flex space-between items-center">
                <p class="copyright-text small">&copy; 2018
                    <a href="#0">CEG</a>. All Rights Reserved.</a>.</p>
                <ul class="list-unstyled copyright-menu flex no-column">
                    <li>
                        <a href="#0">Privacy policy</a>
                    </li>
                    <li>
                        <a href="#0">Terms of service</a>
                    </li>
                    <li>
                        <a href="#0">Conditions</a>
                    </li>
                </ul>
                <!-- end .copyright-menu -->
            </div>
            <!-- end .bottom -->
        </div>
        <!-- end .container -->
    </div>
    <!-- end .footer -->




</body>

<!-- Mirrored from jobpress.icookcode.net/dev/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Aug 2018 10:31:36 GMT -->

</html>

      <script type="text/javascript">
//   $('.product-list').on('change', function() {
//         $('.product-list').not(this).prop('checked', false);  
//     });
  </script>
