<style>
    /* button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
} */

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    /* Full-width input fields */

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */

    input[type=text]:focus,
    input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for all buttons */

    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }

    /* Extra styles for the cancel button */

    .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
    }

    /* Float cancel and signup buttons and add an equal width */

    .cancelbtn,
    .signupbtn {
        float: left;
        width: 50%;
    }

    /* Add padding to container elements */

    .container {
        padding: 16px;
    }

    /* The Modal (background) */

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }

    /* Modal Content/Box */

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* Style the horizontal ruler */

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    /* The Close Button (x) */

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    /* Clear floats */

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */

    @media screen and (max-width: 300px) {
        .cancelbtn,
        .signupbtn {
            width: 100%;
        }
    }
</style>

<link rel="stylesheet" type="text/css" href="css/style3.css" />

<body>
    <div class="container">


        <section>
            <div id="container_demo">
                <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                <a class="hiddenanchor" id="toregister"></a>
                <a class="hiddenanchor" id="tologin"></a>
                <div id="wrapper">
                    <div id="login" ng-show="loginform">
                        <form>
                            <h1>Log in</h1>

                            <p>
                                <label for="username" class="uname"> Your email or username </label>
                                <input id="username" name="username" required="required" type="text" ng-model="uname" placeholder="myusername or mymail@mail.com" />
                            </p>
                            <p>
                                <label for="password" class="youpasswd"> Your password </label>
                                <input id="password" name="password" required="required" type="password" ng-model="pwd" placeholder="eg. X8df!90EO" />
                            </p>

                            <p>
                                <button type="submit" ng-click="login();">Login</button>
                            </p>
                            <br>
                            <p class="change_link">
                                Not a member yet ?
                                <a onclick="document.getElementById('id01').style.display='block'" style="cursor: pointer;" ng-click="loginform=false;signupform=true;resetFunc();" class="to_register">Sign Up</a>
                                <!-- <button onclick="document.getElementById('id01').style.display='block'" ng-click="loginform=false" >Sign Up</button> -->

                            </p>
                        </form>
                    </div>



                </div>
            </div>
        </section>
    </div>
    <div ng-show="signupform">
        <h2>Modal Signup Form</h2>

        <!-- <button onclick="document.getElementById('id01').style.display='block'" ng-click="loginform=false" style="width:auto;">Sign Up</button> -->

        <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" ng-click="loginform=true" class="close" title="Close Modal">&times;</span>
            <form class="modal-content">
                <div class="container">
                    <h1>Sign Up</h1>
                    <p>Please fill in this form to create an account.</p>
                    <hr>
                    <label for="name">
                        <b>Name</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="Enter your Name" name="name" ng-model="name" required>
                    <label for="title">
                        <b>Title</b>
                    </label>
                    <input type="text" style="width:10%" placeholder="title" name="title" ng-model="title" required>
                    <label for="email">
                        <b>Email</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="Enter Email" name="email" ng-model="emailid" required>

                    <label for="psw">
                        <b>Password</b>
                    </label>
                    <input type="password" style="width:20%" placeholder="Enter Password" name="psw" ng-model="password" required>
                    <br>
                    <label for="mobile">
                        <b>Mobile</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="Enter Mobile no" name="mobile" ng-model="mobileno" required>

                    <!-- <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" style="width:20%" placeholder="Repeat Password" name="psw-repeat" required> -->

                    <label for="company">
                        <b>Company</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="Enter company name" name="company" ng-model="company" required>

                    <label for="companyadd">
                        <b>Address</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="Enter company Address" name="companyadd" ng-model="comapnyaddress" required>
                    <br>

                    <label for="state">
                        <b>State</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="State Name here" name="state" ng-model="state" required>
                    <label for="city">
                        <b>City</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="City Name Here" name="city" ng-model="city" required>

                    <label for="zip">
                        <b>ZipCode</b>
                    </label>
                    <input type="text" style="width:20%" placeholder="Enter Zipcode" name="zip" ng-model="zipcode" required>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" ng-click="loginform=true" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn" ng-click="signup();">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>

</html>