

<!-- Responsive Menu -->
<form ng-submit="myFunc();">

<div>
    
<div class="responsive-menu">
    <a href="#" class="responsive-menu-close"><i class="ion-android-close"></i></a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->



<!-- Post resume Section -->
<div class="section post-resume-form-section solid-light-grey-bg">
    <div >
      
        <div class="container" ng-show="loginform">
            <!-- multistep form -->
            

                        <div class="divider"></div>

                        <div class="form-fields-wrapper">
                            <img src="/images/final-logo-2.png" alt="" style="padding:0 380px;">
                                
                            <div class="form-group-wrapper flex space-between items-center">
                                <div class="form-group">
                                    <p class="label">Email</p>
                                    <input type="text" id="candidate-first-name" name="candidate-first-name" ng-model="uname" placeholder="">
                                </div> <!-- end .form-group -->
                                <div class="form-group">
                                    <p class="label">Password</p>
                                    <input type="password" id="candidate-last-name" name="candidate-last-name" ng-model="pwd" placeholder="">
                                </div> <!-- end .form-group -->
                            </div> <!-- end .form-group-wrapper -->									

                           

                        </div> <!-- end .form-fields-wrapper -->

                        

                      
                        
                        <div class="button-wrapper text-center">
                            <button type="submit" ng-click="login();" class="button next">Login</button>
                           <p class="change_link">
                                    Not a member yet ?
                                    <a onclick="document.getElementById('id01').style.display='block'" style="cursor: pointer;" ng-click="loginform=false;signupform=true;resetFunc();" class="to_register">Sign Up</a>
                                </p> 
                        </div> <!-- end .button-wrapper -->			    		

                    </div> <!-- end .form-inner -->	
                <!-- </form> -->
                    
                 </fieldset>

               

            <!-- end .job-post-form -->

        </div> <!-- end .container -->
    </div> <!-- end .inner -->
    
    
       <div class="container" ng-show="signupform">
                        <div class="divider"></div>
                        <div class="form-fields-wrapper" id="id01" class="modal">
                            <h2 style="color:#1650e3;margin:0 320px">Signup</h2>
                            <span onclick="document.getElementById('id01').style.display='none'" ng-click="loginform=true;signupform= False"  class="close" title="Close Modal">&times;</span>
                            <div class="form-group-wrapper flex space-between items-center">
                                <div class="form-group form-group-1">
                                    <p class="label">Name</p>
                                    <input ng-required="true" type="text" id="candidate-first-name" name="candidate-first-name" ng-model="name" required placeholder="">
                                </div> 
                                <div class="form-group form-group-1">
                                    <p class="label">Title</p>
                                    <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder="" ng-model="title" required>
                                </div>
                                <div class="form-group form-group-1">
                                        <p class="label">Email</p>
                                        <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder="" ng-model="emailid" required>
                                    </div> 
                                    <div class="form-group form-group-1">
                                            <p class="label">Password</p>
                                            <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder="" ng-model="password" required>
                                        </div> 
                                        
                                        <div class="form-group form-group-1">
                                                <p class="label">Mobile</p>
                                                <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder="" ng-model="mobileno" required>
                                            </div> 
                                            <div class="form-group form-group-1">
                                                    <p class="label">Company</p>
                                                    <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder=""  ng-model="company" required>
                                                </div>
                                                <div class="form-group form-group-1">
                                                        <p class="label">Address</p>
                                                        <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder=""  ng-model="comapnyaddress" required>
                                                    </div> 
                                                    <div class="form-group form-group-1">
                                                            <p class="label">State</p>
                                                            <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder=""   ng-model="state" required>
                                                        </div> 
                                                        <div class="form-group form-group-1">
                                                                <p class="label">City</p>
                                                                <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder=""   ng-model="city" required>
                                                            </div> 
                                                            <div class="form-group form-group-1">
                                                                    <p class="label">ZipCode</p>
                                                                    <input type="text" id="candidate-last-name" name="candidate-last-name"  placeholder=""   ng-model="zipcode" required>
                                                                </div>                             
                            </div> 								

                           

                        </div> 

                      
                      
                        
                        <div class="button-wrapper text-center">
                            <button type="button" ng-click="signup();" class="button next" >Signup</button>
                         
                        </div> 		    		

                    </div>						
                 </fieldset>

               

            <!-- </form>  -->
            <!-- end .job-post-form -->

        </div> <!-- end .container -->
</div> <!-- end .section -->
</div>
</form>
