<!-- Responsive Menu -->
<div class="responsive-menu">
    <a href="#" class="responsive-menu-close"><i class="ion-android-close"></i></a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->



<!-- Post resume Section -->
<div class="section post-resume-form-section solid-light-grey-bg">
    <div class="inner">
        <div class="container">
            <!-- multistep form -->
            

                        <div class="divider"></div>

                        <div class="form-fields-wrapper">
                            <h4 class="form-fields-title dark">Contact info</h4>
                            <div class="form-group-wrapper flex space-between items-center">
                                <div class="form-group">
                                    <p class="label">First name</p>
                                    <input type="text" id="candidate-first-name" name="candidate-first-name" placeholder="">
                                </div> <!-- end .form-group -->
                             
                            </div> <!-- end .form-group-wrapper -->									

                            <div class="form-group-wrapper flex space-between items-center">
                                <div class="form-group">
                                    <p class="label">Date of birth</p>
                                    <input type="text" id="candidate-birthdate" name="candidate-birthdate" placeholder="">
                                </div> <!-- end .form-group -->
                               
                            </div> <!-- end .form-group-wrapper -->

                            

                        </div> <!-- end .form-fields-wrapper -->

                        <div class="divider"></div>

                        
                        <div class="button-wrapper text-center">
                            
                            <button type="button" class="button">login</button>
                            <p class="change_link">
                                    Not a member yet ?
                                    <a onclick="document.getElementById('id01').style.display='block'" style="cursor: pointer;" ng-click="loginform=false;signupform=true;resetFunc();" class="to_register">Sign Up</a>
                                    <!-- <button onclick="document.getElementById('id01').style.display='block'" ng-click="loginform=false" >Sign Up</button> -->
    
                                </p>
                        </div> <!-- end .button-wrapper -->			    		

                    </div> <!-- end .form-inner -->							
                 </fieldset>

               

            </form> <!-- end .job-post-form -->

        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .section -->

