<header ng-include="'pages/MenuPages/header.html'"></header>
	
		<!-- Clients Section -->
		<div class="section clients-section solid-grey-bg">
			<div class="inner">
				<div class="container">
						<span style="color:#13294B"><b>A2 / A2</b></span><br/><br/>

						Consumer demand for A2/A2 milk continues to grow as many lactose-intolerant people realize they don’t have the digestive discomfort when they choose dairy products made from A2/A2 milk. This niche product area has the potential for premium payments to producers and now is the time to gain the A2 edge!<br/><br/>

						An A2/A2 bull or cow will transmit the gene 100% of the time – thus an A2/A2 cow bred to an A2/A2 bull will result in an A2 calf 100% of the time.  Using only A2/A2 mating sires across a typical herd of Holsteins would see the frequency of A1 beta casein in milk halve with each generation. By purchasing A2 embryos, you can accelerate the A2 dominance in your Holstein herd!<br/><br/>
						
						<a href="#/aboutceg" style="color:#13294B">Click here</a> to view the Health & Fertility embryos currently in inventory
						
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

	
<header ng-include="'pages/MenuPages/footer.html'"></header>  
		