<header ng-include="'pages/MenuPages/header.html'"></header>
	 
		<!-- Clients Section -->
		<div class="section clients-section solid-grey-bg">
			<div class="inner">
				<div class="container">

						<span style="color:#13294B"><b>Balanced Breeding</b></span><br/><br/>

					Health & Fertility
						Are you looking to improve both the type and production in your herd? Is your management starting to outpace your herd’s genetic potential? Are you fairly satisfied with your herd, but want to make progress faster?  Then our Balanced Breeding selected embryos are for you!<br/><br/>

						Our Balanced Breeding category assures the genetic progress of your herd in the areas of production, health & fertility, and type. Avoid the herd management plateau caused by maxed out genetics! <br/><br/> 
						
						<a href="#/aboutceg" style="color:#13294B">Click here</a> to view the Health & Fertility embryos currently in inventory
						
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->
<header ng-include="'pages/MenuPages/footer.html'"></header>  
	

		