<header ng-include="'pages/MenuPages/header.html'"></header>
	
		<!-- Clients Section -->
		<div class="section clients-section solid-grey-bg">
			<div class="inner">
				<div class="container">
                        <span style="color:#13294B"><b>CAREERS</b></span><br/><br/>

                    At this time, we do not have open positions.<br/><br/>

                    <!-- Cutting Edge Genetics’ initial focus is in dairy cattle. We compete in the arena of 100% Holstein embryos, which are available and can be made to order for a variety of desirable attributes for any country. We are also on the forefront of providing Gyr/Holstein cross breed embryos, which are especially adaptable for tropical climates and have been proven to significantly increase milk production when compared to breeds currently indigenous to tropical and equatorial countries. Finally, we are deeply committed to development of our pipeline of research which uses gene editing to provide dairy cattle which are resistant to a variety of diseases. Our technology enables us to precisely and specifically edit a genome to elicit the desired traits and characteristics, resulting in a final product that has no foreign DNA.<br/><br/>
                    
                    
                    In addition, the company has a robust pipeline of gene editing technologies in other livestock species, especially beef cattle and swine. <br/><br/> -->

						<!-- <a href="#/aboutceg" style="color:#13294B">Click here</a> to view the Health & Fertility embryos currently in inventory -->
						
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

	
<header ng-include="'pages/MenuPages/footer.html'"></header>  
		