<header ng-include="'pages/MenuPages/header.html'"></header>

		<!-- Clients Section -->
		<div class="section clients-section solid-grey-bg">
			<div class="inner">
				<div class="container">

						<span style="color:#13294B"><b>Feed Efficiency & Production</b></span><br/><br/>

						There’s no getting around it – more milk = a bigger milk check. Are your cows making the most milk possible in the most efficient manner over the course of their lifetime? Production traits and type traits, such as stature, are highly heritable. You can witness a tremendous improvement in herd production and efficiency in a relatively short time. <br/><br/>

						Are you in a fluid milk market and need more milk in the tank? Do you get paid more for solids to produce cheese and butter? Are your feed input costs too high for the amount of milk you’re currently shipping?<br/><br/> 
						
						Our Feed Efficiency & Production embryos can help you ‘design’ a more profitable cow for your market. The genetics of these embryos emphasize pounds of milk produced with positive component percentages coupled with moderate stature and body size traits – the modern dairy cow!<br/><br/>
						
						<a href="#/aboutceg" style="color:#13294B">Click here</a> to view the Health & Fertility embryos currently in inventory
						
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

<header ng-include="'pages/MenuPages/footer.html'"></header>  
		

		