<div class="section footer transparent" style="background-image: url('images/background03.jpg');">
    <div class="container">
        <div class="top flex space-between items-center">
            <img src="images/final-logo-2.png" alt="footer-logo" style="height:50px" class="img-responsive">
            <ul class="list-unstyled footer-menu flex">
                <li><a href="#0">Home</a></li>
                <li><a href="#0">About</a></li>
                <li><a href="#0">Browse Bulls</a></li>
                <li><a href="#0">Contact</a></li>
            </ul> <!-- end .footer-menu -->				
        </div> <!-- end .top -->
        <div class="footer-widgets flex no-column space-between">					
            <div class="widget">
                <h6>About</h6>
                <ul class="list-unstyled">
                    <li><a href="#0">Company</a></li>
                    <li><a href="#0">Our Partners</a></li>
                    <li><a href="#0">Blog</a></li>
                    <li><a href="#0">FAQ</a></li>
                    <li><a href="#0">Pricing</a></li>
                    <li><a href="#0">Help Center</a></li>
                    <li><a href="#0">Team</a></li>
                    <li><a href="#0">Contact Us</a></li>
                </ul>
            </div> <!-- end .widget -->
            <div class="widget">
                <h6>For candidates</h6>
                <ul class="list-unstyled">
                    <li><a href="#0">Browse Bulls</a></li>
                    <li><a href="#0">Browse categories</a></li>
                    <li><a href="#0">Submit Bull</a></li>
                    <li><a href="#0">My Bulls</a></li>
                </ul>
            </div> <!-- end .widget -->
            <div class="widget">
                <h6>For companies</h6>
                <ul class="list-unstyled">
                    <li><a href="#0">Browse Bulls</a></li>
                    <li><a href="#0">Add A Bull</a></li>
                </ul>
            </div> <!-- end .widget -->
            <div class="widget">
                <h6>Follow us</h6>
                <ul class="list-unstyled social-icons flex no-column">
                    <li><a href="#0"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#0"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#0"><i class="ion-social-youtube"></i></a></li>
                    <li><a href="#0"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="#0"><i class="ion-social-linkedin"></i></a></li>
                </ul>				
                <h6>Subscribe Us</h6>
                <p>Morbi in ligula nibh. Maecenas ut mi at odio hendrerit eleifend tempor vitae augue.</p>
                <form class="form-inline subscribe-form flex no-column no-wrap items-center">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your email">
                    </div> <!-- end .form-group -->
                    <button type="submit" class="button"><i class="ion-ios-arrow-thin-right"></i></button>
                  </form>
            </div> <!-- end .widget -->
        </div> <!-- end .footer-widgets -->
        <div class="bottom flex space-between items-center">
            <p class="copyright-text small">&copy; 2018 <a href="#0">CEG</a>. All Rights Reserved.</a>.</p>
            <ul class="list-unstyled copyright-menu flex no-column">
                <li><a href="#0">Privacy policy</a></li>
                <li><a href="#0">Terms of service</a></li>
                <li><a href="#0">Conditions</a></li>
            </ul> <!-- end .copyright-menu -->
        </div> <!-- end .bottom -->
    </div> <!-- end .container -->
</div> <!-- end .footer -->