<header ng-include="'pages/MenuPages/header.html'"></header>

<div class="section clients-section solid-grey-bg">
        <div class="inner">
            <div class="container">

                    <span style="color:#13294B"><b>Holstein / Gyr Crossbred</b></span><br/><br/>

                    Getting cows and heifers pregnant is a main component of a profitable bottom line. Pregnant heifers mean fresh, young cows entering your milking string and pregnant cows mean more lactations and higher lifetime production totals.<br/><br/>

                    Superior health traits go hand-in-hand with higher fertility in the drive for more profit in your milk check. 
                    Improving udder health with lower Somatic Cell Score and reducing problem calvings with lower calving ease percentage leads to healthier cows with fewer interventions – which also means more efficient use of your labor.<br/><br/> 
                    
                    Are you breeding open heifers two or three times before they check pregnant? Are some of your highest producers putting more milk in the treated pail than in the bulk tank? Are you or your employees spending too much time assisting calvings or treating cows recovering from difficult calvings? If so, our custom-selected Health & Fertility embryos can ensure the next generation of your herd is more efficient and more profitable.<br/><br/>
                    
                    With breed-leading parent average genetics for Daughter Pregnancy Rate, Somatic Cell Score and Daughter Calving Ease, heifers resulting from these embryos will maximize days spent in the milking string producing a quality product!<br/><br/>
                    
                    <a href="#/aboutceg" style="color:#13294B">Click here</a> to view the Health & Fertility embryos currently in inventory
                   
            </div> <!-- end .container -->
        </div> <!-- end .inner -->
    </div>
   
    <header ng-include="'pages/MenuPages/footer.html'"></header>    
