<header ng-include="'pages/MenuPages/header.html'"></header>

		<!-- Latest News Section -->
		<div class="section Latest-news-section">
			<div class="inner">
				<div class="container">
					<div class="section-top-content flex items-center" style="box-shadow:none">
						<h1  style="box-shadow:none">CEG News</h1>
						<!-- <a href="blog-list.html">View all news<i class="ion-ios-arrow-thin-right"></i></a> -->
					</div> <!-- end .section-top-content -->
					<div class="news-grid">
						<div  class="news-grid-row flex space-between">
							<div class="CEGNewsLayout">
								<img src="images/HolXGyrF1.jpeg" alt="news-thumbnail" class="img-responsive CEGNewsContent">
								 <div class="news-content">
									<div class="news-meta flex no-column">
										<h6><a href="#0" class="news-author">Nancy watson</a></h6>
										<h6 class="publish-date">15.10.2018</h6>
										<h6><a href="#0" class="comment-count">5 comments</a></h6>
									</div> <!-- end .news-meta -->
									<h3 class="news-title">Cutting Edge Genetics Participates With Holstein X Gyr Crossbred Heifer Project</h3>
									<p class="news-excerpt">With the goal to producing tropical-adapted cattle crosses for the developing world, Cutting Edge Genetics is pleased to be taking part in the Chessie Creek Farm-University of Illinois Project for the Genetic Improvement of Livestock. CEG has provided embryos from genomic tested Holstein heifers for use in the crossbreeding project with a herd of Gyr F1 heifers housed in South Carolina. The project is beginning to collect production data from cows in the herd that will ultimately enable the selection of superior, tropical-adapted dairy genetics to be disseminated to developing countries around the world.For further information on this project aimed at providing improved nutrition, Food, and Income Security, please <a href="https://publish.illinois.edu/wheeler-lab/chessie-creek-farm-project/ ">click here!</a></p>
									<!-- <a href="blog-single-fullwidth-image.html" class="button">Read More</a> -->
								</div> <!-- end .news-content -->
							</div> <!-- end .news-item -->
							<div class="CEGNewsLayout">
								<img src="images/MilkBottels.jpg" alt="news-thumbnail" class="img-responsive CEGNewsContent">
								 <div class="news-content">
									<div class="news-meta flex no-column">
										<h6><a href="#0" class="news-author">Nancy watson</a></h6>
										<h6 class="publish-date">23.09.2018</h6>
										<h6><a href="#0" class="comment-count">5 comments</a></h6>
									</div> <!-- end .news-meta -->
									<h3 class="news-title">Cutting Edge Genetics Aggressively Pursuing Production of A2 Embryos</h3>
									<p class="news-excerpt">In recognition of the growing consumer demand for A2 milk, which is easier to digest for many lactose-sensitive people, Cutting Edge Genetics is adding more A2 females to their donor herd for production of marketable A2 embryos. When crossed A2 sires, the resulting offspring will produce milk with a slightly different protein sequence for the beta-casein molecule, which seems to ease the digestive discomfort experienced by many consumers.If you’re looking for value-added A2 genetics for your herd, <a href="#/A2">click here!</a></p>
									<!-- <a href="blog-single-fullwidth-image.html" class="button">Read More</a> -->
								</div> <!-- end .news-content -->
							</div> <!-- end .news-item -->
							<div  class="CEGNewsLayout">
								<img src="images/CE_barn_2.jpg" alt="news-thumbnail" class="img-responsive CEGNewsContent">
								 <div class="news-content">
									<div class="news-meta flex no-column">
										<h6><a href="#0" class="news-author">Nancy watson</a></h6>
										<h6 class="publish-date">01.07.2018</h6>
										<h6><a href="#0" class="comment-count">5 comments</a></h6>
									</div> <!-- end .news-meta -->
									<h3 class="news-title">Ownership of Cutting Edge Genetics</h3>
									<p class="news-excerpt">Cutting Edge Genetics LLC is pleased to clarify that we have no affiliation with any of Butlerview Farms, Butler Auctions, Butlerview Management, or any other entities associatied with Jeffrey J. Butler. Mr. Butler is not a member of the LLC, and is not employed by Cutting Edge either directly or as a consultant or in any other capacity. Cutting Edge Genetics does operate on the site of the former Butlerview Farm, which is now under completely new ownership affiliated with Cutting Edge Genetics LLC.</p>
									<!-- <a href="blog-single-fullwidth-image.html" class="button">Read More</a> -->
								</div> <!-- end .news-content -->
							</div> <!-- end .news-item -->
						 </div>  <!-- end .news-grid-row -->						
					</div> <!-- end .news-grid -->
				</div> <!-- end .container -->	
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

	
		<!-- Clients Section -->
		<!-- <div class="section clients-section solid-grey-bg">
			<div class="inner">
				<div class="container">

                        <span style="color:#13294B"><b>NEWS</b></span><br/><br/>

                    July 1, 2018—Cutting Edge Genetics LLC is pleased to clarify that we have no affiliation with any of Butlerview Farms, Butler Auctions, Butlerview Management, or any other entities associated with Jeffrey J. Butler. Mr. Butler is not a member of the LLC, and is not employed by Cutting Edge either directly or as a consultant or in any other capacity. Cutting Edge Genetics does operate on the site of the former Butlerview Farm, which is now under completely new ownership affiliated with Cutting Edge Genetics LLC. <br/><br/> -->

                    <!-- Cutting Edge Genetics’ initial focus is in dairy cattle. We compete in the arena of 100% Holstein embryos, which are available and can be made to order for a variety of desirable attributes for any country. We are also on the forefront of providing Gyr/Holstein cross breed embryos, which are especially adaptable for tropical climates and have been proven to significantly increase milk production when compared to breeds currently indigenous to tropical and equatorial countries. Finally, we are deeply committed to development of our pipeline of research which uses gene editing to provide dairy cattle which are resistant to a variety of diseases. Our technology enables us to precisely and specifically edit a genome to elicit the desired traits and characteristics, resulting in a final product that has no foreign DNA.<br/><br/>
                    
                    
                    In addition, the company has a robust pipeline of gene editing technologies in other livestock species, especially beef cattle and swine. <br/><br/> -->

						<!-- <a href="#/aboutceg" style="color:#13294B">Click here</a> to view the Health & Fertility embryos currently in inventory -->
						
				<!-- </div>
			</div>
		</div>  -->

	
<header ng-include="'pages/MenuPages/footer.html'"></header>  
		