element.style {
    padding: 4px 0px 4px 10px;
    width: 300px;
}

.InnerHaderDetails {
    color: #808080;
    float: left;
    font-family: arial;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
    width: 25%;
}
.InnerHaderDetails {
    text-align: left;
    width: 150px;
}
user agent stylesheet
div {
    display: block;
}
Inherited from table.width100p
Style Attribute {
    border-collapse: collapse;
}
user agent stylesheet
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
Inherited from tr.gridrow.cls_gridrownew1
.cls_gridrownew1 {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #cccccc;
    color: #333333;
    float: left;
    font-weight: bold;
    line-height: 18px;
    margin: 12px 0 0;
    padding: 6px 0;
    width: 943px;
}
.cls_gridrownew1 {
    color: #333333;
    font-weight: bold;
    line-height: 18px;
}
.gridrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #e3e3e3;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    font-size: 12.5px;
    line-height: 28px;
}
.cls_gridrownew1 {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #cccccc;
    color: #333333;
    float: left;
    font-weight: bold;
    line-height: 18px;
    margin: 12px 0 0;
    padding: 6px 0;
    width: 943px;
}
Inherited from table#cphContent_gvAgency.grid.cls_wid945p
Style Attribute {
    border-collapse: collapse;
    float: left;
}
.grid {
    border: 0 solid #dbdbdb;
    color: #716558;
    margin: auto;
    width: 945px;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
body {
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}